body {
  background: black;
  color: white;
  font-family:monospace;
}

label{
  display: block;
}
button {
  margin-top: 1em;
  margin-bottom: 1em;
}
select {
  max-width: 33%;
  margin-left: 12%;
  float: left;
  text-align: center;
}

.jumbotron{
  margin-bottom: 3em;
  background: linear-gradient(rgba(29, 31, 29, 0.8), rgba(39, 35, 35, 0.8));
  width: 100%;
  min-height: 4.5em;
  padding: .5em
}

#box1 img {
  max-width: 1em;
  max-height: 1em;
  display: inline-block;
}
#box1 div {
  padding: 1.5em;
  border-bottom: solid white .05px;
  background-color: rgba(37, 32, 32, 0.562);
}
.rank {
  color:rgb(255, 251, 0);
}
.high{
  color: red;
}
.green {
  color:  rgb(0, 255, 0);
}
.blue {
  color: rgb(0, 238, 255);
}
.name {
  font-size: 1.1em;
}
.box2 {
  text-align: center;
}
.chart {
  margin: 1em 0 5em 0;
  border: dashed green 1px;
  min-height: 15em;
  width: 100%;
}
#chart {
  width: 100%;
  max-height: 600px;
}
.row{
  margin-bottom: 5em;
}
.cryptoCurrencies {
  text-align: center;
  margin: 2em;
}


